<div class="container">
  <div class="container__item">
    <form (ngSubmit)="onSubmit()" #urlForm="ngForm" class="form">
      <input  type="text"
              name="url"
              placeholder="url"
              [(ngModel)]="urlValue"
              required class="form__field" placeholder="insert url" />
      <button type="submit" class="btn btn--primary btn--inside uppercase">submit</button>
    </form>
  </div>
</div>

@if (imageBase64){
  <div class="qrCode">
    <img [src]="'data:image/png;base64,' + imageBase64" alt="Base64 Image" />
  </div>
}
