<div
  class="dropzone"
  (dragover)="onDragOver($event)"
  (dragleave)="onDragLeave($event)"
  (drop)="onDrop($event)">

  <p>Drag & drop a QR code image here, or click to upload</p>
  <input type="file" (change)="onFileSelected($event)" class="file-input" accept="image/*">
</div>

@if (imagePreview) {
  <div class="qrCode">

    <div class="image">
      <img [src]="imagePreview" alt="QR Code Preview" class="image-preview"/>
    </div>

    @if (error){
      <div class="overlay">
        ERROR READING QR CODE <br/> OR <br/> IMAGE PROVIDED IS NOT QR CODE
      </div>
    }
  </div>
}

@if (qrCodeText) {
  <div class="container__item">

    <label>QR Code Text</label>
    <div class="form">
      <input type="text" [value]="qrCodeText" readonly class="form__field copy-text">
      <button (click)="copyToClipboard()" class="btn btn--primary btn--inside uppercase">Copy</button>
    </div>
  </div>

  @if (copied) {
    <p class="saved-message">Saved to clipboard</p>
  }
}
